## Loading data into Pandas

In [3]:
import pandas as pd
import re

### Reading in files
df = pd.read_csv('./data/pokemon_data.csv')
# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

### prints top 5 columns
# print(df.head(5))

### Prints the column "HP"
df['HP']

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

## High Level Exploration of Data in Pandas

In [4]:
#### Read Headers
df.columns

### Read specific columns by passing in a list
#print(df[['Name', 'Type 1', 'HP']])

### Read a series for rows
#print(df.iloc[0:4])

## Read specified row and column (R,C)
#print(df.iloc[2,1])

### Iterate through all rows, can drop the "Name" specification to grab all rows 
#for index, row in df.iterrows():
#    print(index, row['Name'])


### Filtering for specific values
#df.loc[df['HP'] > 200]

### Describing the distribution of quantitative data
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## Sorting/Describing Data

In [5]:
### Used to sort values, can sort by multiple values if passed a list, can change sort by passing a bool
df.sort_values(['Type 1', 'Attack'], ascending=[True, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

## Making changes to the data

In [6]:
### Defining a new column, sums columns 4 through 9 (exclusive so specify to 10) and applies it to all rows 
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
### Another way to skin the cat
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

### Removing columns 
# df = df.drop(columns=['Total'])

### Reordering column headers to move total before all stats, hard coding is tricky so be careful 
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving our Data (Exporting into Desired Format)

In [7]:
### Saving the dataframe 
df.to_csv('./data/modified.csv', index=False)

### Saving to an excel file or specifying the delimeter
#df.to_excel('modified.xlsx', index=False)
#df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [8]:
## Filtereing by multiple conditions with & and separated statements with (), created a new dataframe as well
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

### Resets the index fo the new dataframe
new_df.reset_index(drop=True, inplace=True)
#new_df.to_csv('filtered.csv')

### Filtering for Pokemon that contain the str Mega, use "~" at beginning to do the inverse, can also do regEx here
#df.loc[df['Name'].str.contains('Mega')]
#df.loc[~df['Name'].str.contains('Mega')]
#df.loc[df['Type 1'].str.contains('Fire|Water', regex=True)]
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False


## Conditional Changes and Data Cleaning

In [9]:
### Changing "Fire" type to "Flame", can change which columns are changed by replacing the second 'Type 1'
df.loc[df['Type 1'] == 'Fire', 'Type 1']= 'Flame'

### Changing multiple columns at a time by passing a list
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

### rounding the totla columns if needed
#df['Total'] = pd.Series([round(val,0) for val in df['Total']],
#                       index=df.index)

#df = pd.read_csv('modified.csv')

## Group By

In [10]:
### Averages, grouped by a specific column, can also sort by stacking the sort function
#df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)


### .count() does not include Nulls or NAN's, if you want to include, can help to define a count row with a static value of 1
#df['count'] = 1

### Can aggregate by multiple values by using the .agg function and passing a dict to specify what the aggregation is 

df.groupby(['Type 1', 'Type 2']).agg(
            mean_HP=pd.NamedAgg(column='HP', aggfunc='mean'),
            mean_total=pd.NamedAgg(column='Total', aggfunc='mean')
    ).sort_values(['Type 1','mean_total'], ascending=[True, False])

                    mean_HP  mean_total
Type 1 Type 2
Bug    Fighting   80.000000  550.000000
       Steel      67.714286  509.714286
       Fire       70.000000  455.000000
       Rock       46.666667  435.000000
       Flying     63.000000  419.500000
...                     ...         ...
Water  Ghost      77.500000  407.500000
       Flying     63.142857  404.000000
       Electric  100.000000  395.000000
       Grass      60.000000  346.666667
       Fairy      85.000000  335.000000

[136 rows x 2 columns]

## Working with large amounts of data

In [12]:
### For large datasets, it can be useful to pass in a chunksize, pandas will then batch all operations

### Create a temp dataframe to house everything
new_df = pd.DataFrame(columns=df.columns)

### Then chunk the raw dataframe, apply manipulations, and then append the compressed data
for df in pd.read_csv('./data/pokemon_data.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])
    # break is just to reduce the number of rows, don't actually put in code

new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,NaN,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,NaN,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,NaN,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,NaN,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,NaN,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,NaN,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,NaN,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,NaN,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,NaN,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,NaN,2,2,2,2,2,2,2,2